# ██ [ File-types                 ] ██
*.old
*.archive

# ██ [ Executables                ] ██
*.exe
*.sh
*.jar

# ██ [ Root Directories           ] ██
playerdata
resource_packs/*
system_scripts/*

# ██ [ Server Directories         ] ██
denizen_scripts/gielinordev

# ██ [ Scriptdata Directories     ] ██
scriptdata/twitch
scriptdata/bungee

# ██ [ Scriptdata Files           ] ██
scriptdata/discord/token.yml
scriptdata/discord/webhooks.yml
scriptdata/players
scriptdata/network/titles.yml
denizen_scripts/relay/repo-link/Handlers/message_handler.dsc

# ██ [ System Script Directories  ] ██
denizen_scripts/relay/repo-link/OffhandData/*
