# ██ [ File-types                 ] ██
*.old
*.archive

# ██ [ Executables                ] ██
*.exe
*.sh
*.jar

# ██ [ Root Directories           ] ██
playerdata
resource_packs/*
system_scripts/system

# ██ [ Server Directories         ] ██
denizen_scripts/gielinordev
denizen_scripts/head

# ██ [ Scriptdata Directories     ] ██
script-data/global/admin
script-data/global/bans
script-data/global/behr_essentials
script-data/global/bungee
script-data/global/players
script-data/global/twitch

# ██ [ Scriptdata Files           ] ██
script-data/global/Behr_Essentials
script-data/global/discord/token.yml
script-data/global/discord/channels.yml
script-data/global/discord/webhooks.yml
script-data/global/discord/oAuth_Data.yml
script-data/global/discord/github_links.yml
script-data/global/discord/discord_links.yml
script-data/global/discord/saved_headers.yml
script-data/global/discord/shell_directories.yml
denizen_scripts/relay/repo-link/Handlers/message_handler.dsc

# ██ [ System Script Directories  ] ██
denizen_scripts/relay/repo-link/OffhandData/*
